API_KEY=cfdcdb08-629e-4462-8089-6f12f3908876
BASE_URL=http://localhost:8080/api
Client_Secret=your_client_secret_here
API_URL=http://localhost:3000
USE_MOCK=false
KEYCLOAK_ISSUER=http://localhost:8180/realms/nckh
